div { background-color: lightgreen; }

#lista {background-color: lightblue; }

.wow{ font-family: ink free; }

.runko {float:right; border:5px solid yellow;} 

body {max-width: 700px; margin: auto; }

h1 {color: blue; text-align: center;}

html {background-color: orange;}

h2 {background-color: rgba(0, 128, 255, 0.3);}

.sosiaali {color:red;}

.eka {color: #335699;}

